.left-form{
    -fx-background-color: #333856;
}

.right-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px 0px;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover{
    -fx-background-color: #c75f78;
}

.textfield{
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-border-width: .4px;
    -fx-border-radius: 4px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
}

.textfield:focused{
    -fx-border-color: #333856;
    -fx-border-width: 1.4px;
}

.login-btn {
    -fx-background-color: #333856;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}

.login-btn:hover{
    -fx-background-color: #51577a;
}